appnope==0.1.0
astroid==1.4.5
autopep8==1.2.2
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
basemap==1.0.7
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
bibtexparser==0.6.2
bs4==0.0.1
CacheControl==0.11.6
certifi==2016.2.28
chardet==2.3.0
click==6.6
colorama==0.3.7
configparser==3.5.0
cycler==0.9.0
Cython==0.23
decorator==4.0.10
docopt==0.6.2
entrypoints==0.2.2
fake-useragent==0.0.8
flake8==2.5.4
Flask==0.11.1
funcsigs==0.4
functools32==3.2.3.post2
future==0.15.2
GDAL==1.11.3
genson==0.1.0
geonamescache==0.21
geoplotlib==0.3.0
geopy==1.11.0
git-fat==0.5.0
git-pandas==1.0.1
gitdb==0.6.4
GitPython==1.0.2
gnureadline==6.3.3
google-scholar-scraper==0.2
html5lib==0.9999999
incf.countryutils==1.0
ipykernel==4.3.1
ipython==5.0.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
iso8601==0.1.11
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.3.0
jupyter-console==5.0.0
jupyter-core==4.1.0
keepalive==0.5
Kivy==1.9.1
Kivy-Garden==0.1.4
lazy-object-proxy==1.2.2
lockfile==0.12.2
MarkupSafe==0.23
matplotlib==1.5.1
mccabe==0.4.0
mercurial==3.8.4
Metafone==0.5
mistune==0.7.3
mock==1.3.0
nbconvert==4.2.0
nbformat==4.0.1
networkx==1.11
nltk==3.1
nose==1.3.7
notebook==4.2.1
numpy==1.11.1
pandas==0.18.1
path.py==8.1.2
pathlib2==2.1.0
pbr==1.8.1
pdfdocument==3.1
pdfminer==20110515
pep8==1.7.0
pexpect==4.2.0
pickleshare==0.7.3
Pillow==3.3.0
probableparsing==0.0.1
prompt-toolkit==1.0.3
ptyprocess==0.5.1
pycountry==1.20
pyflakes==1.0.0
PyGithub==1.26.0
pyglet==1.2.4
Pygments==2.1.3
pygobject==3.20.1
pygraphviz==1.3.1
pylint==1.5.5
pyparsing==2.1.0
pyserial==3.0.1
pyshp==1.2.3
python-crfsuite==0.8.4
python-dateutil==2.5.3
python-magic==0.4.6
pytrends==1.1.3
pytz==2016.4
pyzmq==15.3.0
qtconsole==4.2.1
rdflib==4.2.1
requests==2.9.1
scipy==0.17.1
seaborn==0.7.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
slate==0.3
smmap==0.9.0
SPARQLWrapper==1.7.6
splitstream==1.2.1
terminado==0.6
tethne==0.7.25
tornado==4.4
tqdm==4.7.0
traitlets==4.2.2
Unidecode==0.4.19
usaddress==0.5.7
vboxapi==1.0
virtualenv==15.0.2
wcwidth==0.1.7
Werkzeug==0.11.10
widgetsnbextension==1.2.6
wrapt==1.10.8
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xmltodict==0.9.2
yolog==0.2.2
