alabaster==0.7.10
Babel==2.5.1
bleach==2.0.0
certifi==2017.7.27.1
chardet==3.0.4
configparser==3.5.0
decorator==4.1.2
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
functools32==3.2.3.post2
html5lib==0.999999999
idna==2.6
imagesize==0.7.1
ipython-genutils==0.2.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-core==4.3.0
MarkupSafe==1.0
mistune==0.7.4
nbconvert==5.3.1
nbformat==4.4.0
nbsphinx==0.2.14
pandocfilters==1.4.2
Pygments==2.2.0
pytz==2017.2
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
testpath==0.3.1
traitlets==4.3.2
typing==3.6.2
urllib3==1.22
webencodings==0.5.1
